:root{
    --primary-violet: hsl(257, 40%, 49%);
    --primary-soft-magenta: hsl(300, 69%, 71%);

    --body-font: "Poppins";
    --heading-font: "Open Sans";
}
body{
	color:white;
}
body{
background-color: var(--primary-violet) ;	
background-image:url("bg-mobile.svg");
background-repeat:no-repeat;
background-size:contain;
    }
.display-1{
    font-family: var(--heading-font);
    font-weight:400;
	color:white;
}
header ,img{
    fill:black ;
}

 .register-btn{
    color: var(--primary-violet) ;
    background-color: white ;
	
}
footer img{
    fil:white ;
	outline:white ;
}
.icon{
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

@media screen and (min-width: 90em){
    body{
	background-color: var(--primary-violet) ;	
background:url("bg-desktop.svg");
background-repeat:no-repeat;
background-size:contain;

    }
}
