--root{
    --primary-violet:hsl(257, 40%, 49%);
    --primary-soft-magenta:hsl(300, 69%, 71%);

    --body-font: "Poppins";
    --heading-font: "Open Sans";
}

body{
background-image:url("bg-mobile.svg");
background-repeat:no-repeat;
background-size:contain;
    }
.display-1{
    font-family: var(--heading-font);
    font-weight:400;
}
header ,img{
    fill:black ;
}

.register-btn{
    color: var(--primary-violet) ;
    background:var(--primary-soft-magenta);
}

@media screen and (min-width: 90em){
    body{
background-image:url("bg-desktop.svg");
background-repeat:no-repeat;
background-size:contain;
    }
}
